[Unit]
Description=XAU/USD HFT Bot - Connection Core
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/scalpAI
ExecStart=/root/scalpAI/venv/bin/python3 main.py
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

# High-Performance Tuning
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
Nice=-10

[Install]
WantedBy=multi-user.target
